@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: font-family: 'Montserrat', sans-serif;
}

.container{
    width: 80%;
    margin: auto;

    .row{

        .item{

            .col{

                .single-box{

                    .content{
                        
                        h2{
                            color: red;
                            font-size: 50px;
                        }
                    }
                }
            }
        }
    }
}
